footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-column {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 65px;
  background-color: #d3d6da;
  font-weight: bold;
  font-size: 18px;
}

.keyback img {
  width: 30px;
}
.wide {
  width: 70px;
}
