main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 15px 0 15px 0;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
}

#timer {
  font-size: 17px;
  font-weight: bold;
}
